services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./database/mongo/init.js:/docker-entrypoint-initdb.d/init.js

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - app-network

  reservations-service:
    build:
      context: .
      dockerfile: ./backend/reservations-api/Dockerfile
    container_name: reservations-service
    restart: always
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      users-api:
        condition: service_started
    environment:
      PORT: 8080
      USERS_API_URL: http://users-api:8081
      MONGO_DB: demo
      MONGO_COLLECTION: reservas
      MONGO_URI: mongodb://mongo:27017/reservasdb
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: admin
      RABBITMQ_PASS: admin123
      RABBITMQ_QUEUE_NAME: reservas
      JWT_SECRET: z25yYAswKLAbrMWDVGg4HZuVS661GpqDgxR1B3hCcjDBvNffYfSxErxgiLVXAQoi5b9+6AVQZxcW9hW9QlFDDA==
    ports:
      - "8080:8080"
    networks:
      - app-network
